!!!
%html
  %head
    %title= @title || SiteConfig.title
    %link{:href => '/main.css', :rel => 'stylesheet', :type => 'text/css'}
    %script{:type => 'text/javascript', :src => 'jquery.js'}
  %body
    #container
      #header
        #logo
          %h1
            %a{:href => '/'}= SiteConfig.title
        #username= current_user.username
      #content= yield
      #footer
        %p#legal= "&mdash; &copy; #{Time.now.strftime('%Y')} #{SiteConfig.author} &mdash;"
